In [1]:
%matplotlib inline 
import pandas as pd 
import numpy as np
from math import sqrt

# Visualization Modules
import matplotlib
from matplotlib import pyplot as plt

#Scipy Maths Models
import statsmodels.api as sm
from scipy import stats

# Machine Learning Training Modules
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [3]:
# Tensorflow Imports 

import tensorflow as tf

In [4]:
data_file = 'height_weight_dataset.csv' # make sure the path of the file is correct
df = pd.read_csv(data_file)
df.head()

  Gender  Age  Height  Weight
0      f  143    56.3    85.0
1      f  191    62.5   112.5
2      f  160    62.0    94.5
3      f  157    64.5   123.5
4      f  191    65.3   107.0