In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [2]:
Dict = {'Age' : [20,30,40,50],
       'Salary':[1000, 2000, 3000, 5000]}

In [3]:
df = pd.DataFrame(Dict)

In [4]:
df

   Age  Salary
0   20    1000
1   30    2000
2   40    3000
3   50    5000

In [5]:
df.columns

Index(['Age', 'Salary'], dtype='object')

In [6]:
df.iloc[1]

Age         30
Salary    2000
Name: 1, dtype: int64

In [7]:
df['Age']

0    20
1    30
2    40
3    50
Name: Age, dtype: int64

In [8]:
df['Salary']

0    1000
1    2000
2    3000
3    5000
Name: Salary, dtype: int64

In [9]:
df.Age>20

0    False
1     True
2     True
3     True
Name: Age, dtype: bool

In [10]:
df[df.Age > 20]

   Age  Salary
1   30    2000
2   40    3000
3   50    5000

In [11]:
df

   Age  Salary
0   20    1000
1   30    2000
2   40    3000
3   50    5000

In [14]:
file_path = r'/home/nandagopalparamasivam/Downloads/Most-Recent-Cohorts-Scorecard-Elements.csv'

In [15]:
df1 = pd.read_csv(file_path)

FileNotFoundError: [Errno 2] File b'/home/nandagopalparamasivam/Downloads/Most-Recent-Cohorts-Scorecard-Elements.csv' does not exist: b'/home/nandagopalparamasivam/Downloads/Most-Recent-Cohorts-Scorecard-Elements.csv'

In [ ]:
df1.columns

In [ ]:
df1.describe()

In [ ]:
A = df1['OPEID']

In [ ]:
df1[2:10:2]

In [ ]:
type(A)

In [ ]:
%matplotlib inline

df1.plot(x='OPEID', y='HCM2', kind='scatter')

In [ ]:
df.plot(x='Age', y='Salary', kind='line')

In [ ]:
Ages = df.Age.values

In [ ]:
type(Ages)

In [ ]:
Ages.reshape(2,2)

In [ ]:
['col_'+str(i) for i in range(3)]

In [ ]:
df_r = pd.DataFrame(np.random.randn(10, 10), columns=['col_'+str(i) for i in range(10)])

In [ ]:
df_r

In [ ]:
for i in df_r.iteritems() :
    print(i)

In [ ]:
for i in df_r.iterrows() :
    print(i)

In [ ]:
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])

In [ ]:
unsorted_df.sort_index(axis=1, inplace=True)

In [ ]:
unsorted_df

In [ ]:
name = 'Nanda_Gopal'

In [ ]:
name.split('_')

In [ ]:

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

In [ ]:
df_r.loc[:'col_1']

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

df

In [ ]:
df.isnull()

In [ ]:
df['one'].fillna(45)

Links [https://pandas.pydata.org/pandas-docs/stable/reference/io.html]

In [ ]:
df_r = pd.Dataf